<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.perezflores.movielist">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_action_name"
        android:label="Movie List"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.perezflores.movielist.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.perezflores.movielist.MovieForm"
            android:label="Movie List"
            android:icon="@drawable/ic_action_name">
        </activity>
        <activity
            android:name="com.perezflores.movielist.MovieInfo"
            android:label="MovieList"
            android:icon="@drawable/ic_action_name">
        </activity>
    </application>

</manifest>